* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.text-center {
    text-align: center;
}

.btn {
    padding: 4px 8px;
    background: none;
    border: 2px solid burlywood;
    border-radius: 1em;
    cursor: pointer;
}

.input-container {
    display: flex;
    align-items: center;
    margin: 1em 0;
    gap: 1rem;
    justify-content: center;
}

.input {
    padding: 4px;
}

.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorMsg {
    font-size: small;
    font-weight: 300;
    color: red;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    position: relative;
}

.single-floor {
    height: 100px;
    background-color: beige;
    border: 1px solid gray;
    display: flex;
    gap: 1em;
}

.box {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 4px;
}

.btn-box {
    display: flex;
    gap: 1em;
}

.elevator {
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 0;
}

.door {
    width: 50%;
    height: 100px;
    position: absolute;
}

.left {
    background-color: #CD7F32;
    border: 1px solid black;
    left: 0;
}

.right {
    background-color: #CD7F32;
    right: 0;
    border: 1px solid black;
}
